<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head >
<meta charset="ISO-8859-1">
<title>Department List</title>
</head>
<body>
<th:block th:insert="header.html"></th:block>
<div class="container-fluid">
<div class="card">
<div class="card-header text-white text-center bg-primary" >Department List</div>
<div class="card-body">
<table class="table" >
<thead>
<tr> 
<th>Department Name</th>
<th>Department Head(HOD)</th>
<th>Department Phone</th>
<th>Action</th>
</tr>
</thead>
<tbody>
<tr th:each="d:${dList}">
<td>[[${d.dept_name}]]</td>
<td>[[${d.dept_head}]]</td>
<td>[[${d.dept_phone}]]</td>
<td>
 <a th:href="@{/dept/edit(id=${d.id})}"> <input type="submit" value="Edit" class="btn btn-success "></a>
 <a th:href="@{/dept/delete(id=${d.id})}"><input type="submit" value="Delete" class="btn btn-danger"></a>
</td>
</tr>
</tbody>
</table>
</div>
<div class="card-footer bg-warning text-white text-center">copy@2024</div>
</div>
</div>

</body>
</html>